/* CSS Document */
.root {
  background-color: #1a1423;
  color: #bc96e6;
  font-family: "spacegrotesk", sans-serif;
}

.texteffectcolor {
  color: #0affed;
}

.logoColor {
  color: #0affed;
}

.footerColor {
  background-color: #1a1423;
  filter: brightness(175%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* this just hides my title it is still there but not visible in any way or shape */

.hiddenTitle {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
}

/* Navbar styles */

/* Override link colors */
.navbar-nav .nav-link,
.navbar-nav .nav-item .dropdown-toggle {
  color: #bc96e6;
}

/* Override active link color */
.navbar-nav .nav-link.active {
  color: #0affed;
}

/* hover styles */
.navbar-nav .nav-link:hover {
  color: #0affed;
}

/* Navbar background change */
.navbar {
  background-color: #1a1423;
  filter: brightness(175%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu {
  background-color: #1a1423;
  filter: brightness(175%);
  border: #0affed 1px solid;
  z-index: 1;
}
.dropdown-menu .dropdown-item {
  color: #bc96e6;
}
.dropdown-menu .dropdown-item:hover {
  color: #0affed;
  background-color: #1a1423;
}

.backgroundColor {
  background: linear-gradient(to bottom right, #1a1423,#3b2d50,#5e4b8b);
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.4);
  border-radius: 20px;;
}


.list-group {
  --bs-list-group-color: #bc96e6;
  --bs-list-group-bg: #1a1423;
  --bs-list-group-border-color: var(--bs-border-color);
  --bs-list-group-border-width: var(--bs-border-width);
  --bs-list-group-border-radius: var(--bs-border-radius);
  --bs-list-group-item-padding-x: 1rem;
  --bs-list-group-item-padding-y: 0.5rem;
  --bs-list-group-action-color: var(--bs-secondary-color);
  --bs-list-group-action-hover-color: var(--bs-emphasis-color);
  --bs-list-group-action-hover-bg: var(--bs-tertiary-bg);
  --bs-list-group-action-active-color: var(--bs-body-color);
  --bs-list-group-action-active-bg: var(--bs-secondary-bg);
  --bs-list-group-disabled-color: var(--bs-secondary-color);
  --bs-list-group-disabled-bg: var(--bs-body-bg);
  --bs-list-group-active-color: #1a1423;
  --bs-list-group-active-bg: #0d6efd;
  --bs-list-group-active-border-color: #0d6efd;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: var(--bs-list-group-border-radius);
}
